
services:
  nextcloud-db:
    image: lscr.io/linuxserver/mariadb:latest
    container_name: nextcloud-db
    hostname: nextcloud-db
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    networks:
      - nextcloud-network
    volumes:
      - mariadb_data:/config

  nextcloud-redis:
    image: redis:alpine
    container_name: nextcloud-redis
    hostname: nextcloud-redis
    restart: unless-stopped
    networks:
      - nextcloud-network

  nextcloud-app:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud-app
    hostname: nextcloud-app
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      # Proxy reverso (NPM)
      - OVERWRITEPROTOCOL=https
      - TRUSTED_PROXIES=npm-app
      # PHP
      - PHP_MEMORY_LIMIT=${PHP_MEMORY_LIMIT}
      - PHP_UPLOAD_LIMIT=${PHP_UPLOAD_LIMIT}
    networks:
      - nextcloud-network
    ports:
      - "8000:80"
      - "44300:443"
    volumes:
      - nextcloud_config:/config
      - nextcloud_data:/data
    depends_on:
      - nextcloud-db
      - nextcloud-redis

volumes:
  nextcloud_config:
  nextcloud_data:
  mariadb_data:

networks:
  nextcloud-network:
    name: nextcloud-network
    external: true


# Qual mundo voce quer viver
