services:
  app:
    image: linuxserver/nextcloud:32.0.0-ls398
    hostname: nextcloud
    # user: "899:899"
    environment:
      - PUID=899
      - PGID=899
      - TZ='America/Maceio'
    volumes:
      - /srv/docker/volumes/nextcloud/app/config:/config
      - /srv/docker/volumes/nextcloud/app/data:/data
    restart: unless-stopped
    depends_on:
      - db

  db:
    image: linuxserver/mariadb:11.4.8-r0-ls197    
    hostname: mariadb
    # user: "899:899"
    environment:
      - PUID=899
      - PGID=899
      - TZ='America/Maceio'
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - /srv/docker/volumes/nextcloud/db/config:/config
      - /srv/docker/volumes/nextcloud/db/database:/var/lib/mysql
    restart: unless-stopped
