services:
  app:
    image: emersonml/nextcloud:32
    hostname: nextcloud
    environment:
      - TZ='America/Maceio'
    volumes:
      - /tanque/docker/nextcloud/config:/var/www/html/config
      - /tanque/docker/nextcloud/data:/var/www/html/data
    restart: unless-stopped
    depends_on:
      - db

  db:
    image: emersonml/nextcloud-mariadb:11.4    
    hostname: mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    environment:
      - TZ='America/Maceio'
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - /tanque/docker/nextcloud/db:/var/lib/mysql

    restart: unless-stopped
