services:
  db:
    image: lscr.io/linuxserver/mariadb:latest
    container_name: nextcloud-db
    hostname: nextcloud-db
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    networks:
      - nextcloud_network
    volumes:
      - db_config:/config
  redis:
    image: redis:alpine
    container_name: nextcloud-redis0
    hostname: nextcloud-redis
    restart: unless-stopped
    networks:
      - nextcloud_network
  app:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud-app
    hostname: nextcloud-app
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      # Proxy reverso (NPM)
      - OVERWRITEPROTOCOL=https
      - TRUSTED_PROXIES=npm-app
      # PHP
      - PHP_MEMORY_LIMIT=${PHP_MEMORY_LIMIT}
      - PHP_UPLOAD_LIMIT=${PHP_UPLOAD_LIMIT}
    networks:
      - nextcloud_network
      - npm_nextcloud_network
    ports:
      - "8000:80"
      - "44300:443"
    volumes:
      - app_config:/config
      - app_data:/data
    depends_on:
      - db
      - redis
networks:
  nextcloud_network:
  npm_nextcloud_network:
    external: true
volumes:
  db_config:
  app_config:
  app_data:
